@page
@model LoginModel

 <div id="logreg-forms" class="container form-group col-10 offset-1" style="border-radius: 10px;">
    <h1 class=" mb-3 font-weight-normal pt-4" style="text-align:center; "><strong>Login</strong></h1>
    <form id="account" method="post">


        <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" />
        <input asp-for="Input.Password" placeholder="Password..." type="password" class="form-control" />
        <button type="submit" class="button-class text-dark form-control" style="padding: 10px 32px;"><i class="fas fa-sign-in-alt "></i> Login</button>

        <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-secondary">Forgot your password?</a>
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="padding-top: 6px;" class="text-dark btn btn-block btn-outline-secondary form-control">Sing Up</a>


    </form>
    @if (Model.ExternalLogins?.Count > 0)
    {
        <p class="text-center mb-1 font-weight-normal" style="text-align:center;">Or Continue with</p>
    }
        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
        <form style="padding-top: 0px;" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            @if (provider.Name.ToLower().Contains("facebook"))
                            {
                                 <button style="padding-top: 0px;"  
                                        type="submit" class="btn btn-outline-primary form-control"
                                        name="provider" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">
                                    <i class="fab fa-facebook-square"></i> @provider.DisplayName
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        }
                </div>
            </form>
        }




    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
